@import url('animations.css');
@import url('scrollBtnComponent.css');
/* -- Start Global Styles -- */
:root {
	--prim-color: #ea0000;
	--sec-color: #2a333e;
	--white-color: #ffffff;
	--main-font: 'Abhaya Libre', serif;
	--sec-font: 'Poppins', sans-serif;
	font-size: 16px;
}
* {
	box-sizing: border-box;
	outline-style: none;
	border-style: none;
	font-style: normal;
	margin: 0;
	padding: 0;
	border: none;
}
body {
	width: 100%;
	overflow-x: hidden;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	font-family: var(--sec-font);
}
.container {
	max-width: 92%;
	margin: 0 auto;
}
.flex {
	display: flex;
	align-items: center;
}
.clickable {
	cursor: pointer;
	z-index: 10;
}
.center-text {
	text-align: center;
}
.white-text {
	color: var(--white-color);
}
.prim-text {
	color: var(--prim-color);
}
.sec-text {
	color: var(--sec-color);
}
.prim-bg {
	background-color: var(--prim-color);
}
.sec-bg {
	background-color: var(--sec-color);
}
.fw400-sec {
	font-weight: 400;
}
.fw500-sec {
	font-weight: 500;
}
.fw600-sec {
	font-weight: 600;
}
.fw700-sec {
	font-weight: 700;
}
.fw800-main {
	font-weight: 800;
	font-family: var(--main-font);
}
.fw400-sec,
.fw500-sec,
.fw600-sec,
.fw700-sec {
	font-family: var(--sec-font);
}
.pos-r {
	position: relative;
}
.pos-a {
	position: absolute;
}
/* -- End Global Styles -- */
/* -- Start Buttons Styles -- */
.btn-rightedge,
.btn-leftedge {
	width: 11.25rem;
	height: 4.063rem;
	font-size: 1.125rem;
	line-height: 1.75rem;
	border-radius: 0.625rem;
}
.btn-rightedge {
	padding-left: 2rem;
	box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1),
		0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259),
		0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407),
		0px 20px 13px rgba(234, 0, 37, 0.05),
		0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593),
		0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
}
.btn-rightedge:after {
	content: '';
	width: 3.75rem;
	background-color: var(--prim-color);
	position: absolute;
	right: 1.75rem;
	top: 0;
	bottom: 0;
	border-radius: 0.625rem 1rem;
	transform: translateX(calc(100% - 0.313rem)) skew(-20deg);
	z-index: -1;
}
.btn-leftedge {
	padding-right: 2rem;
	box-shadow: 0px 100px 80px rgba(68, 68, 68, 0.1),
		0px 64.8148px 46.8519px rgba(68, 68, 68, 0.0759259),
		0px 38.5185px 25.4815px rgba(68, 68, 68, 0.0607407),
		0px 20px 13px rgba(68, 68, 68, 0.05),
		0px 8.14815px 6.51852px rgba(68, 68, 68, 0.0392593),
		0px 1.85185px 3.14815px rgba(68, 68, 68, 0.0240741);
}
.btn-leftedge::after {
	content: '';
	width: 3.75rem;
	background-color: var(--sec-color);
	position: absolute;
	left: -5rem;
	top: 0;
	bottom: 0;
	border-radius: 0.625rem 1rem;
	transform: translateX(calc(100% - 0.313rem)) skew(-20deg);
	z-index: -1;
}
.btn-dbledge {
	width: 12.625rem;
	height: 2.938rem;
	font-size: 0.75rem;
	line-height: 1.125rem;
	border-radius: 0.625rem;
	box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1),
		0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259),
		0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407),
		0px 20px 13px rgba(234, 0, 37, 0.05),
		0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593),
		0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
	transform: skew(-20deg);
}
.btn-text {
	transform: skew(20deg);
}
.btn-text span {
	margin-left: 1.05rem;
}
.btn-delivery {
	width: 10rem;
	height: 3.688rem;
	font-size: 1.125rem;
	line-height: 1.188rem;
	border-radius: 0.625rem;
	box-shadow: 0px 100px 80px rgba(68, 68, 68, 0.1),
		0px 64.8148px 46.8519px rgba(68, 68, 68, 0.0759259),
		0px 38.5185px 25.4815px rgba(68, 68, 68, 0.0607407),
		0px 20px 13px rgba(68, 68, 68, 0.05),
		0px 8.14815px 6.51852px rgba(68, 68, 68, 0.0392593),
		0px 1.85185px 3.14815px rgba(68, 68, 68, 0.0240741);
}
.btn-delivery:after {
	content: '';
	width: 3.75rem;
	background-color: var(--sec-color);
	position: absolute;
	right: 45px;
	top: 0;
	bottom: 0;
	border-radius: 0.625rem 1rem;
	transform: translateX(calc(100% - 0.313rem)) skew(-15deg);
	z-index: -1;
}
.btn-showmenu {
	width: 10.7rem;
	height: 3.875rem;
	font-size: 1rem;
	line-height: 1.5rem;
	border-radius: 0.625rem;
	box-shadow: 0px 100px 80px rgba(68, 68, 68, 0.1),
		0px 64.8148px 46.8519px rgba(68, 68, 68, 0.0759259),
		0px 38.5185px 25.4815px rgba(68, 68, 68, 0.0607407),
		0px 20px 13px rgba(68, 68, 68, 0.05),
		0px 8.14815px 6.51852px rgba(68, 68, 68, 0.0392593),
		0px 1.85185px 3.14815px rgba(68, 68, 68, 0.0240741);
	justify-content: space-between;
	padding-left: 1.25rem;
	margin: 0 auto;
}
.btn-showmenu:after {
	content: '';
	width: 3.75rem;
	background-color: var(--prim-color);
	position: absolute;
	right: 44px;
	top: 0;
	bottom: 0;
	border-radius: 0.625rem 1rem;
	transform: translateX(calc(100% - 0.313rem)) skew(-13deg);
	z-index: -1;
}
.btn-down {
	border-radius: 10px;
	height: 3.249rem;
}
.btn-down.apple {
	width: 9.967rem;
}
.btn-down.google {
	width: 11.033rem;
}
.btn-sub {
	width: 7.25rem;
	height: 2.875rem;
	border-radius: 2.938rem;
	font-size: 0.875rem;
	line-height: 1.313rem;
}
/* -- End Buttons Styles -- */
/* -- Start Header [Navbar + Hero]  Styles -- */
.navbar {
	padding: 3.77rem 0rem;
	margin-bottom: 2rem;
}
.headlogo {
	margin-right: 11.313rem;
}
.navlist {
	gap: 2.625rem;
	margin-bottom: 0.6rem;
	margin-right: 17.563rem;
}
.navlist a {
	font-size: 1.063rem;
}
.navlist li:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0.125rem;
	background-color: var(--prim-color);
	left: -0.625rem;
	bottom: -0.4rem;
	transition: 0.3s linear;
}
.navlist li:hover::before {
	width: calc(100% + 1.25rem);
}
.navicons {
	gap: 1.875rem;
	transform: scale(1.2);
}
.navicons a[data-count]::after {
	content: attr(data-count);
	position: absolute;
	width: 0.875rem;
	height: 0.875rem;
	border-radius: 50%;
	background-color: var(--prim-color);
	backdrop-filter: blur(2px);
	color: var(--white-color);
	font-weight: 700;
	font-size: 0.625rem;
	text-align: center;
	line-height: 15px;
	right: -25%;
	top: -30%;
}
/* -- Hero Section -- */
.hero-desc {
	width: 40%;
	margin-left: 3.6rem;
}
.main-heading-wrap {
	margin-bottom: 2.563rem;
}
.main-heading-wrap h4 {
	font-size: 1rem;
	line-height: 1.75rem;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	margin-bottom: 2.688rem;
}
.main-heading-wrap h1 {
	font-size: 11.375rem;
	line-height: 6.25rem;
	letter-spacing: -0.08em;
}
.main-heading-wrap h2 {
	font-size: 3.875rem;
	line-height: 6.25rem;
	letter-spacing: -0.08em;
	color: #2a333e;
	opacity: 0.1;
	transform: rotate(-90deg);
	right: -6.75rem;
	top: 3.25rem;
}
.main-heading-wrap span {
	font-size: 2.438rem;
}
.hero-desc p {
	width: 29.75rem;
	font-size: 1.25rem;
	line-height: 2.125rem;
	margin-bottom: 5.438rem;
}
.hero-img {
	top: -9.55rem;
	right: 3.506rem;
	z-index: -1;
}
.hero-btns {
	gap: 4.5rem;
	margin-bottom: 8.063rem;
}
.serv-details {
	gap: 5.125rem;
}
.serv-details div {
	width: 8.688rem;
	line-height: 2.125rem;
}
.serv-type {
	font-size: 1.625rem;
}
.serv-time {
	font-size: 1.25rem;
	opacity: 0.5;
}
.vertical-slider {
	left: -1.188rem;
	top: -8.6rem;
}
.vertical-slider div {
	width: 0.938rem;
	height: 0.938rem;
	border-radius: 50%;
	margin-bottom: 0.938rem;
	transition: 0.2s linear;
}
.vertical-slider div:not(:nth-child(3)) {
	opacity: 0.1;
}
.vertical-slider div:hover {
	opacity: 1;
}
.header {
	margin-bottom: 0.95rem;
}
/* -- End Header [Navbar + Hero]  Styles -- */
/* -- Start Online Store Styles -- */
.title {
	font-size: 1.25rem;
	line-height: 1.875rem;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}
.sub-title {
	font-size: 5rem;
	line-height: 6.25rem;
	letter-spacing: -0.08em;
}
.underline-shape {
	margin-left: -11rem;
}
.prod-title-wrap {
	margin-bottom: 5.813rem;
}
.products-cards {
	gap: 2rem;
	flex-wrap: wrap;
}
.meal-card {
	margin-left: 5.375rem;
}
.meal-img {
	margin-bottom: 2.063rem;
	filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07))
		drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481))
		drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185))
		drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.035))
		drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815))
		drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519));
	overflow: hidden;
}
.meal-img img {
	  animation-name: spin;
  	animation-duration: 5000ms;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear; 
}
.meal-rating {
	margin-bottom: 1.313rem;
}
.meal-desc p {
	font-size: 0.938rem;
	line-height: 1.375rem;
	margin-bottom: 0.994rem;
}
.meal-desc h2 {
	font-size: 1.75rem;
	line-height: 2.625rem;
}
.meal-desc {
	margin-bottom: 2.75rem;
}
.store {
	margin-bottom: 17.188rem;
}
.leave1 {
	top: 8.438rem;
	left: -3.563rem;
}
/* -- End Online Store Styles -- */
/* -- Start Food Category Styles-- */
.sidemenu {
	width: 20%;
	height: 28.307rem;
	margin-left: 6.063rem;
	overflow-y: auto;
	overflow-x: hidden;
}
.sidemenu::-webkit-scrollbar {
	width: 0.228rem;
}
.sidemenu::-webkit-scrollbar-track {
	background-color: rgb(234, 0, 0, 0.05);
}
.sidemenu li {
	border-radius: 0.625rem;
	width: 11.875rem;
	padding: 0.531rem;
	gap: 1.075rem;
}
.sidemenu li:not(:last-of-type) {
	margin-bottom: 1.45rem;
}
.sidemenu li:hover {
	background-color: var(--prim-color);
	box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1),
		0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259),
		0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407),
		0px 20px 13px rgba(234, 0, 37, 0.05),
		0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593),
		0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
}
.sidemenu li:hover ::after {
	content: '';
	width: 3rem;
	background-color: var(--prim-color);
	position: absolute;
	right: 1.875rem;
	top: 0;
	bottom: 1px;
	border-radius: 0.625rem 1rem;
	transform: translateX(calc(100% - 0.313rem)) skew(-20deg);
	z-index: -1;
}
.sidemenu li:hover ::before {
	content: '';
	position: absolute;
	width: 0.2rem;
	background-color: var(--sec-color);
	right: -51%;
	height: 80%;
	top: 15%;
}
.sidemenu li:hover p {
	color: var(--white-color);
	opacity: 1;
}
.sidemenu li:hover .sideitem-img {
	background-color: var(--white-color);
	border: 0.313rem solid var(--white-color);
	border-radius: 0.625rem;
}
.sideitem-img {
	border: 0.313rem solid transparent;
	border-radius: 0.625rem;
}
.sideitem-img img {
	width: 2.563rem;
	height: 2.563rem;
	object-fit: contain;
	filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07))
		drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481))
		drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185))
		drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.035))
		drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815))
		drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519));
}
.sideitem-name {
	font-size: 0.913rem;
	line-height: 1.063rem;
	text-transform: capitalize;
	opacity: 0.5;
}
.delivery {
	width: 48.168rem;
	height: 32.568rem;
	background-color: rgb(234, 0, 0, 0.05);
	border-radius: 30.4376px;
	padding: 4.563rem;
}
.del-title {
	font-size: 1rem;
	line-height: 1.188rem;
	background-color: #ffdad7;
	border: 0.076rem solid #fcc7c3;
	border-radius: 3.805rem;
	padding: 0.5rem 0.75rem 0.5rem 1.188rem;
	gap: 0.75rem;
	width: fit-content;
	margin-bottom: 1.216rem;
}
.delivery h2 {
	font-size: 5rem;
	line-height: 3.875rem;
	letter-spacing: -0.06em;
	width: 33.563rem;
	margin-bottom: 1.356rem;
}
.del-desc {
	width: 22.448rem;
	font-size: 0.913rem;
	line-height: 2.125rem;
	margin-bottom: 2.57rem;
}
.marchmello {
	top: 36%;
	left: -18%;
}
.leave2 {
	top: -6%;
	left: 57%;
}
.coffe-cup {
	width: max-content;
	top: -53%;
	left: 59%;
}
.horz-slider {
	gap: 0.266rem;
	top: -14.5%;
	left: -7.5%;
}
.horz-slider div {
	width: 0.617rem;
	height: 0.617rem;
	border-radius: 50%;
	transition: 0.1s linear;
}
.horz-slider div:not(div:nth-child(1)) {
	opacity: 0.15;
}
.horz-slider div:not(div:nth-child(1)):hover {
	opacity: 1;
}
.categories {
	gap: 5.875rem;
	margin-bottom: 13rem;
}
/* -- End Food Category Styles-- */
/* -- Start BestSellet Styles-- */
.best-seller-title-wrap {
	margin-bottom: 3.313rem;
}
.best-dishes-wrap {
	flex-wrap: wrap;
	gap: 2.5rem 1.875rem;
	margin-left: 4.875rem;
	margin-bottom: 3.438rem;
}
.dish-card {
	padding: 1.25rem 1.75rem;
	width: 30.05%;
	background-color: var(--white-color);
	border: 0.075rem solid #efefef;
	border-radius: 1.5rem;
}
.dish-details {
	justify-content: space-between;
}
.share-dish {
	gap: 0.625rem;
}
.share-dish div {
	width: 2rem;
	height: 2rem;
	border-radius: 0.625rem;
	justify-content: center;
}
.share-dish div:nth-child(1) {
	background: var(--prim-color);
	box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1),
		0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259),
		0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407),
		0px 20px 13px rgba(234, 0, 37, 0.05),
		0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593),
		0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
}
.share-dish div:nth-child(2) {
	background: var(--sec-color);
	box-shadow: 0px 100px 80px rgba(68, 68, 68, 0.1),
		0px 64.8148px 46.8519px rgba(68, 68, 68, 0.0759259),
		0px 38.5185px 25.4815px rgba(68, 68, 68, 0.0607407),
		0px 20px 13px rgba(68, 68, 68, 0.05),
		0px 8.14815px 6.51852px rgba(68, 68, 68, 0.0392593),
		0px 1.85185px 3.14815px rgba(68, 68, 68, 0.0240741);
}
.dish-img {
	margin-bottom: 0.7rem;
	filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07))
		drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481))
		drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185))
		drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.035))
		drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815))
		drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519));
}
.dish-rate {
	margin-bottom: 0.4rem;
}
.dish-name {
	font-size: 1.25rem;
	line-height: 1.875rem;
	margin-bottom: 0.375rem;
}
.dish-desc {
	font-size: 1rem;
	line-height: 1.625rem;
	letter-spacing: -0.01em;
	margin-bottom: 1.25rem;
}
.dish-price {
	font-size: 1.25rem;
	line-height: 1.875rem;
}
.best-seller {
	margin-bottom: 9rem;
}
.leave3 {
	top: 1.438rem;
	left: -3.563rem;
}
.leave4 {
	top: 42.438rem;
	right: 0.563rem;
}
/* -- End BestSellet Styles-- */
/* -- Start Download App Styles-- */
.down-app {
	width: 100vw;
	background-color: rgb(234, 0, 0, 0.05);
	padding: 3.8rem 11.5rem 2.5rem 11.5rem;
	gap: 5.25rem;
	align-items: flex-start;
	margin-bottom: 6.5rem;
	flex-wrap: wrap;
}
.leave5 {
	bottom: 3.2rem;
	left: 0.5rem;
}
.down-title {
	font-size: 1.25rem;
	line-height: 1.875rem;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	margin-bottom: 0.75rem;
}
.down-sub-title {
	font-size: 3.875rem;
	line-height: 3.75rem;
	letter-spacing: -0.08em;
	margin-bottom: 1.313rem;
}
.down-desc p {
	font-size: 1.063rem;
	line-height: 1.625rem;
	width: 30.063rem;
	margin-bottom: 3.875rem;
}
.down-desc {
	padding-top: 7.88rem;
}
.down-btns {
	gap: 3rem;
}
/* -- End Download App Styles-- */
/* -- Start Testimonials - News Letter Styles-- */
.test-title-wrap .title {
	margin-bottom: 0.938rem;
}
.test-title-wrap .sub-title {
	font-size: 3.875rem;
	line-height: 3.75rem;
	margin-bottom: 0.313rem;
}
.test-title-wrap .underline-shape {
	margin-left: 13.625rem;
	margin-bottom: 6.6rem;
}
.reviews-cards-wrapper {
	width: 80%;
	margin: 0 auto;
	gap: 5.938rem;
	align-items: flex-start;
	padding-left: 2.2rem;
	margin-bottom: 3.25rem;
	flex-wrap: wrap;
}
.rev-card {
	align-items: flex-start;
	gap: 1.563rem;
	width: 45%;
}
.rev-img {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.rev-name,
.rev-city,
.rev-text {
	font-size: 0.938rem;
	line-height: 1.313rem;
	text-transform: capitalize;
}
.rev-name {
	margin-bottom: 0.5rem;
}
.rev-city,
.rev-info .dish-rate {
	margin-bottom: 1.063rem;
}
.rev-text {
	line-height: 1.5rem;
}
.subscribe {
	margin: 0 auto;
	width: 55.5rem;
	height: 14.75rem;
	background-color: var(--white-color);
	border: 1px solid var(--prim-color);
	border-radius: 2.938rem;
	padding: 1.938rem 13.75rem;
	top: 5rem;
}
.subscribe h3 {
	font-size: 1.438rem;
	line-height: 1.313rem;
	text-transform: capitalize;
	margin-bottom: 0.438rem;
}
.subscribe .underline-shape {
	margin-left: 9rem;
	margin-bottom: 0.65rem;
}
.subscribe .underline-shape img {
	width: 6.813rem;
	height: 0.813rem;
	object-fit: contain;
}
.subscribe p {
	font-size: 0.75rem;
	line-height: 1.188rem;
	text-transform: capitalize;
	margin-bottom: 1.563rem;
}
.sub-form {
	width: 28rem;
	height: 3.5rem;
	border: 1px solid var(--prim-color);
	border-radius: 2.938rem;
	padding: 5px 7px 5px 29px;
	justify-content: space-between;
}
.sub-form input,
.sub-form input::placeholder {
	background-color: transparent;
	font-size: 0.75rem;
	line-height: 1.125rem;
	caret-color: var(--prim-color);
}
/* -- End Testimonials - News Letter Styles -- */
/* -- Start Footer Styles -- */
footer {
	width: 100vw;
	min-height: calc(100vh - 17.5rem);
	padding-top: 8.125rem;
}
.footer-info {
	align-items: flex-start;
	flex-wrap: wrap;
}
footer a {
	font-size: 1rem;
	line-height: 1.5rem;
}
footer h3 {
	font-size: 1.375rem;
	line-height: 2.063rem;
	margin-bottom: 2rem;
}
.brand {
	padding: 3.2rem 8.75rem;
	width: 32.5%;
}
.brand img {
	margin-bottom: 3.862rem;
}
.social-media {
	gap: 1.063rem;
}
.support,
.info {
	width: 13.15%;
}
.contact {
	width: 21%;
	margin-right: 4.188rem;
}
.contact li {
	gap: 1.25rem;
	justify-content: center;
}
.footer-list {
	flex-direction: column;
	align-items: flex-start;
	gap: 1.063rem;
}
.copyright {
	font-size: 1rem;
	line-height: 1.563rem;
	padding-bottom: 0.875rem;
}
/* -- End Footer Styles -- */
